<!DOCTYPE HTML>
<!--
    Road trip by TEMPLATED
    templated.co @templatedco
    Released for free under the creative commons Attribution 3.0 licence (templated.co/)
    -->

<html>

<head>
    <title>{{titulo}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" contest="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>

    <!--Header-->

    <header id="header">
        <div class="logo"><a href="/">{{titulo}}<span>{{nombre}}</span></a></div>
        <a href="#menu"><span>Menu</span></a>
    </header>